*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.input-container{
    border: 1px solid black;
    padding: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: cadetblue;
}
.input-content{
    margin-left:50px ;
}
input{
    width: 280px;
    height: 30px;
    border-radius: 15px;
    border: none;
}
button{
    padding: 5px 20px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
}
button:hover{
    background-color: rgb(48, 73, 75);
    color: wheat;
}

.cat-content{
    border: 1px solid black;
    padding: 20px;
   
}
.list-group{
    list-style-type: none;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    
}
.btn{
    text-decoration: none;
   
    color: rgb(48, 73, 75);
    padding: 8px 15px;
    border-radius: 12px;
}
.btn:hover{
    text-decoration: none;
    color: wheat;
    background-color: rgb(209, 235, 236);
    padding: 8px 15px;
    border-radius: 12px;
}
.news-container{
    border: 1px solid black;
    padding: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    background-color: cadetblue;
}
.news-content{
    width: 400px;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding-bottom: 50px;
}
.news-content>img{
    width: 400px;
    object-fit: cover;
    margin-top: 50px;
    margin-bottom: 5px;
}
.news-content>span{
    font-size:25px ;
    color: rgb(9, 34, 82);
}
.detail{
    text-decoration: none;
    background-color: rgb(209, 235, 236);
    color: rgb(48, 73, 75);
    padding: 8px 15px;
    border-radius: 12px;
    margin-top: 10px;
}
.card-title{
    margin-top: 5px;
    margin-bottom: 5px;
}
.card-description{
    margin-top: 5px;
    margin-bottom: 5px; 
}
.card-author{
    margin-top: 5px;
    margin-bottom: 5px; 
}

